<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
</head>
<body>
<footer class="footer">

    <p>&copy; 2025 Qeveria e Kosovës. Të gjitha të drejtat janë të rezervuara.</p>
    <p>Na Kontaktoni: <a href="mailto:info@evotingkosova.com" style="color: #ffffff;">info@evotingkosova.com</a></p>
    <div class="social-section">
        <h3>Na Ndiqni në Rrjetet Sociale</h3>
        <p>Për më shumë informacion dhe përditësime, na ndiqni ose na kontaktoni përmes email-it.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" style="background-color: #3b5998;"><i style="font-size: 15px">FB</i></a>
            <a href="https://www.twitter.com" target="_blank" style="background-color: #1da1f2;"><i style="font-size: 15px">TW</i></a>
            <a href="https://www.instagram.com" target="_blank" style="background-color: #e1306c;"><i style="font-size: 15px">IG</i></a>
            <a href="mailto:info@evotingkosova.com" style="background-color: #003366;"><i style="font-size: 10px">Email</i></a>
        </div>
    </div>
</footer>
</body>
</html>