<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vote Confirmation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/confirmation.css">

</head>
<body>
<div class="popup-container">
    <h1>Faleminderit që votuat!</h1>
    <p>Vota juaj u dorëzua me sukses</p>
    <form th:action="@{/}" method="get">
        <button type="submit">Në rregull</button>
    </form>
</div>
</body>
</html>
