<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt i Suksesshëm</title>
    <link rel="stylesheet" href="/css/contactSuccess.css">
</head>
<body>
<div class="shape"></div>
<div class="shape"></div>
<div class="shape"></div>

<div class="container">
    <h1>Faleminderit, <span th:text="${name}"></span>!</h1>
    <p>Mesazhi juaj është dërguar me sukses.<br>Ne do t'ju kontaktojmë sa më shpejt të jetë e mundur.</p>
    <a href="/">Kthehu në faqen kryesore</a>
</div>
</body>
</html>
